/* Input Type text */
label{
    
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    font-weight: bolder;
    color: white;
}
label input{
    padding: 7px 10px;
    border-radius: 8px;
    border: 1px solid #89B8FF;
    outline: none;
}

/*  Input type Radio */

.inputRadio{
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.inputRadio label{
    width: 30px;
}

.inputRadio div{
    display: flex;
    justify-content: center;

}

/* Desplegables */

select{
    padding: 7px 10px;
    border-radius: 8px;
    border: 1px solid #89B8FF;
    outline: none;
    


}

.select-items{
   
    font-size: 15px;
    font-weight: 400;
    background-color: var(--baseColor);
    color: white;
    border: 1px solid #89B8FF;
}

/* Inputs */

.inputs{
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 16px;
    
}



.InputHijos{
    display: flex;
    width: 74% ;
    gap: 10px;
    
    
}

.InputHijos input{
    width:50px ;
}
.InputHijos label{
    width: 120px;
}


@media only screen and (min-width:2100px) {
    .inputs{
        padding-top: 25px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        font-size: 19px;
    }

    .InputHijos{
        width: 75% ;
    }
    .InputHijos label{
        width: 140px;
    }
    
    
    
}


