

.card-form{
    width: 67%;
    height: 64%;
    margin-top: 10px;
    background: #814EE7;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 155px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: slide 1s ease-in-out;
    
}

.succes{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form h1 {
    color: white;
}


@keyframes slide {
    0%{
        left: 900px;
    }

    100%{
        left: 0;
    }
}

